<launch>
  <!-- No namespace here as we will share this description. s Access with slash at the beginning -->
  <!--param name="robot_description" command="$(find xacro)/xacro.py $(find pr2_description)/robots/pr2.urdf.xacro" /-->

  <!--BEGIN ROBOT 1-->
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find potential_field_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="robot1" />
      <arg name="node_name_arg" value="robot_state_1"/>
    </include>

  <!--BEGIN ROBOT 2-->
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find potential_field_robot)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0" />
      <arg name="robot_name"  value="robot2" />
      <arg name="node_name_arg" value="robot_state_2"/>
      <remap from= "robot_state" to= "/robot1/robot_state" />
    </include>

   <!-- recursively start new node -->
   <!--include file="$(find potential_field_robot)/launch/one_robot.launch" if="$(eval arg('nr') == 0)">
       <arg name="nr" value="$(eval arg('nr') + 1)"/>
       <arg name="node_name_arg" value="$(eval 'robot_state' + str(arg('nr')))"/>
   </include-->

</launch>
